body, html {
  background-color: #000;
}

.sludge1 {
  background: -moz-linear-gradient(left,  rgba(50,34,150,0) 13%, rgba(50,34,150,0.8) 15%, rgba(50,34,150,0.8) 20%, rgba(111,109,207,0.8) 50%, rgba(50,34,150,0.8) 80%, rgba(50,34,150,0.8) 85%, rgba(50,34,150,0) 87%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(13%,rgba(50,34,150,0)), color-stop(15%,rgba(50,34,150,0.8)), color-stop(20%,rgba(50,34,150,0.8)), color-stop(50%,rgba(111,109,207,0.8)), color-stop(80%,rgba(50,34,150,0.8)), color-stop(85%,rgba(50,34,150,0.8)), color-stop(87%,rgba(50,34,150,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(50,34,150,0) 13%,rgba(50,34,150,0.8) 15%,rgba(50,34,150,0.8) 20%,rgba(111,109,207,0.8) 50%,rgba(50,34,150,0.8) 80%,rgba(50,34,150,0.8) 85%,rgba(50,34,150,0) 87%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(50,34,150,0) 13%,rgba(50,34,150,0.8) 15%,rgba(50,34,150,0.8) 20%,rgba(111,109,207,0.8) 50%,rgba(50,34,150,0.8) 80%,rgba(50,34,150,0.8) 85%,rgba(50,34,150,0) 87%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(50,34,150,0) 13%,rgba(50,34,150,0.8) 15%,rgba(50,34,150,0.8) 20%,rgba(111,109,207,0.8) 50%,rgba(50,34,150,0.8) 80%,rgba(50,34,150,0.8) 85%,rgba(50,34,150,0) 87%); /* IE10+ */
background: linear-gradient(to right,  rgba(50,34,150,0) 13%,rgba(50,34,150,0.8) 15%,rgba(50,34,150,0.8) 20%,rgba(111,109,207,0.8) 50%,rgba(50,34,150,0.8) 80%,rgba(50,34,150,0.8) 85%,rgba(50,34,150,0) 87%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00322296', endColorstr='#00322296',GradientType=1 ); /* IE6-9 */

}

.sludge2 {
background: -moz-linear-gradient(left,  rgba(82,150,34,0) 13%, rgba(82,150,34,0.8) 15%, rgba(82,150,34,0.8) 20%, rgba(161,207,109,0.8) 50%, rgba(82,150,34,0.8) 80%, rgba(82,150,34,0.8) 85%, rgba(82,150,34,0) 87%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(13%,rgba(82,150,34,0)), color-stop(15%,rgba(82,150,34,0.8)), color-stop(20%,rgba(82,150,34,0.8)), color-stop(50%,rgba(161,207,109,0.8)), color-stop(80%,rgba(82,150,34,0.8)), color-stop(85%,rgba(82,150,34,0.8)), color-stop(87%,rgba(82,150,34,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(82,150,34,0) 13%,rgba(82,150,34,0.8) 15%,rgba(82,150,34,0.8) 20%,rgba(161,207,109,0.8) 50%,rgba(82,150,34,0.8) 80%,rgba(82,150,34,0.8) 85%,rgba(82,150,34,0) 87%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(82,150,34,0) 13%,rgba(82,150,34,0.8) 15%,rgba(82,150,34,0.8) 20%,rgba(161,207,109,0.8) 50%,rgba(82,150,34,0.8) 80%,rgba(82,150,34,0.8) 85%,rgba(82,150,34,0) 87%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(82,150,34,0) 13%,rgba(82,150,34,0.8) 15%,rgba(82,150,34,0.8) 20%,rgba(161,207,109,0.8) 50%,rgba(82,150,34,0.8) 80%,rgba(82,150,34,0.8) 85%,rgba(82,150,34,0) 87%); /* IE10+ */
background: linear-gradient(to right,  rgba(82,150,34,0) 13%,rgba(82,150,34,0.8) 15%,rgba(82,150,34,0.8) 20%,rgba(161,207,109,0.8) 50%,rgba(82,150,34,0.8) 80%,rgba(82,150,34,0.8) 85%,rgba(82,150,34,0) 87%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00529622', endColorstr='#00529622',GradientType=1 ); /* IE6-9 */
}

.tube {
  background: -moz-linear-gradient(left,  rgba(186,242,233,0) 13%, rgba(186,242,233,0.8) 15%, rgba(186,242,233,1) 19%, rgba(186,242,233,1) 20%, rgba(218,244,237,1) 50%, rgba(186,242,233,1) 80%, rgba(186,242,233,1) 81%, rgba(186,242,233,0.8) 85%, rgba(186,242,233,0) 87%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(13%,rgba(186,242,233,0)), color-stop(15%,rgba(186,242,233,0.8)), color-stop(19%,rgba(186,242,233,1)), color-stop(20%,rgba(186,242,233,1)), color-stop(50%,rgba(218,244,237,1)), color-stop(80%,rgba(186,242,233,1)), color-stop(81%,rgba(186,242,233,1)), color-stop(85%,rgba(186,242,233,0.8)), color-stop(87%,rgba(186,242,233,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(186,242,233,0) 13%,rgba(186,242,233,0.8) 15%,rgba(186,242,233,1) 19%,rgba(186,242,233,1) 20%,rgba(218,244,237,1) 50%,rgba(186,242,233,1) 80%,rgba(186,242,233,1) 81%,rgba(186,242,233,0.8) 85%,rgba(186,242,233,0) 87%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(186,242,233,0) 13%,rgba(186,242,233,0.8) 15%,rgba(186,242,233,1) 19%,rgba(186,242,233,1) 20%,rgba(218,244,237,1) 50%,rgba(186,242,233,1) 80%,rgba(186,242,233,1) 81%,rgba(186,242,233,0.8) 85%,rgba(186,242,233,0) 87%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(186,242,233,0) 13%,rgba(186,242,233,0.8) 15%,rgba(186,242,233,1) 19%,rgba(186,242,233,1) 20%,rgba(218,244,237,1) 50%,rgba(186,242,233,1) 80%,rgba(186,242,233,1) 81%,rgba(186,242,233,0.8) 85%,rgba(186,242,233,0) 87%); /* IE10+ */
  background: linear-gradient(to right,  rgba(186,242,233,0) 13%,rgba(186,242,233,0.8) 15%,rgba(186,242,233,1) 19%,rgba(186,242,233,1) 20%,rgba(218,244,237,1) 50%,rgba(186,242,233,1) 80%,rgba(186,242,233,1) 81%,rgba(186,242,233,0.8) 85%,rgba(186,242,233,0) 87%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00baf2e9', endColorstr='#00baf2e9',GradientType=1 ); /* IE6-9 */
}

#tube-left {
  left: 10%;
}
#tube-right {
  right: 10%;
}
#tube-left, #tube-right {
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 100%;
}

.fill {
  width: 300px;
  position: absolute;
  bottom: 0
}

#mascot {
  position: absolute;
  height: 526px;
  bottom: -80px;
}