html,body {
  height:100%;
  background-color: #110022;
}

h1 {
  font-family: Arial,sans-serif;
  font-size: 50px;
  color:#DDCCEE;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  height:100%;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:27%;
}

#control-container img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

#left-button, #left-arrow {
  position: absolute;
  left: 0;
  top: 25%;
  width: 45%;
  height: 30%;
  display: none;
}

#right-button, #right-arrow {
  position: absolute;
  right: 0;
  top: 25%;
  width: 45%;
  height: 30%;
  display: none;
}

#mascot {
  position: absolute;
  right: 0;
  bottom: 0;
}